<template>
  <div class="container">
    <h3>Please login with account google to continue</h3>
    <div class="col-xs-4 col-sm-2 omb_btn-google">
      <button @click="login" class="btn btn-lg btn-danger btn-block ">
            <i class="fa fa-google-plus visible-xs"></i>
            <span class="hidden-xs">Google+</span>
          </button>
    </div>
  </div>
</template>

<script>
  import firebase from 'firebase';
  export default {
    component: "login",
    methods: {
      login() {
        var provider = new firebase.auth.GoogleAuthProvider()
        provider.addScope('https://www.googleapis.com/auth/contacts.readonly');
        firebase.auth().signInWithPopup(provider).then(result => {
          // This gives you a Google Access Token. You can use it to access the Google API.
          var token = result.credential.accessToken;
          // The signed-in user info.
          var user = result.user
          this.$router.push('/')
          // ...
        }).catch(function(error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          var credential = error.credential;
          // ...
        });
      }
    }
  }
</script>

<style>
  .omb_btn-google {
    margin: 0 auto
  }
</style>